.contestCard{
    display: flex;
    align-items: center;
    flex-direction: row;
    /*border-radius: 10px;*/
    width: 500px;
    height: 200px;
    padding: 10px;
    margin: 10px auto;
    background: rgb(31,39,70);
    border: 10px solid white;
    cursor: pointer;
}
.contestCard .imageWrapper {
    /*background-color: #F2F2F2;*/
    background-color: rgba(242, 242, 242, 0.9);
    border-radius: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 10px;
}
.contestCard .imageWrapper img{
    width: 50px;
    height: 50px;
}
.contestCard p {
    color: rgba(255, 255, 255);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contestCard .timeWrapper {
    color: rgba(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.contestCard span {
    font-size: 12px;
}
.live_text {
    color: rgba(242, 242, 242, 0.9);
    background: rgba(255, 0, 0, 0.7);
    padding: 2px 20px;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
   .contestCard {
       width: 400px;
   }
}
@media screen and (max-width: 400px) {
    .contestCard {
        width: 300px;
    }
    .contestCard .imageWrapper img{
        width: 30px;
        height: 30px;
    }
    .contestCard p {
        font-size: 18px;
    }
    .contestCard span {
        font-size: 10px;
    }
}
