#home .homeContainer {
    width: 80%;
    margin: 50px auto;
}
#home .scrollToTop {
    width: 50px;
    height: 50px;
    background: #FF4081;
    border-radius: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.loader {
    font-size: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    color: #fff;
}

@media screen and (max-width: 600px) {
    #home .homeContainer {
        width: 100%;
        margin: 50px auto;
    }
}
