footer {
    width: 100%;
    background: #0E0F34;
    /*background: rgb(31,39,70);*/
    margin-top: 100px;
    padding: 50px 10%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
}

footer .footerHeading {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
footer button {
    width: 150px;
    color: #FF4081;
    background: transparent;
    outline: none;
    border: 1px solid #FF4081;
    padding: 10px;
    margin: 10px 0;
}
footer button:hover {
    color: rgba(255, 255, 255, 1);
    background: #FF4081;
    outline: none;
    border: 1px solid #FF4081;
    padding: 10px;
}
footer hr {
    background: white;
    margin: 25px 0;
}
footer input  {
    background: #202746 !important;
    color: white !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 10px 0;
    height: 50px;
}
footer .text  {
    background: #202746 !important;
    color: rgba(255, 255, 255, 0.8) !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 20px 0;
    height: 50px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}
footer .text span {
    text-transform: capitalize !important;
    padding: 0px 10px;
    color: rgba(255, 255, 255, 0.6);
}
footer .text a {
    text-transform: lowercase !important;
    padding: 0px 10px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: auto;
}
footer textarea {
    background: #202746 !important;
    color: white !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 10px 0;
    height: 100px;
}
footer input[type=submit] {
    width: 150px;
    color: #FF4081 !important;
    background: transparent !important;
    outline: none !important;
    border: 1px solid #FF4081 !important;
    padding: 10px !important;
    margin: 10px 0 !important;
}
footer input[type=submit]:hover {
    color: rgba(255, 255, 255, 1) !important;
    background: #FF4081 !important;
    outline: none !important;
    border: 1px solid #FF4081 !important;
    padding: 10px !important;
}
