body {
  margin: 0;
  padding: 0;
  background:linear-gradient(0deg, rgba(63, 81, 181, 0.8), rgba(63, 81, 181, 0.8)), url("./images/bg image.png");
  /*background-image: url("./images/bg image.png");*/
  /*background: #3F51B5;*/
}
